<% @bookable_days.each do |day, bookables| %>
	<h2><%= day %></h2>
		<% bookables.each do |bookable| %>
		<div>
			<%= bookable.start_time.strftime("%d/%m/%y")%> <%=bookable.bookable_type.title %><br />
		</div>
		<% end %>
<% end %>
