<h1>New Debt</h1>
<% if @participant.present? %>
<%= render 'form', debt: @debt %>
<% else %>
<h2>To raise a debt to a client, you need to find the clients profile first</h2>

<% end %>
<%= link_to 'Back', debts_path %>
