<div class="grid-x">
  <div class="cell small-12 large-3">
    <div class="info-box">
      
      <div class="responsive-embed" style="margin: -25px 0;">
        <iframe src="https://player.vimeo.com/video/132550202?title=0&byline=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>
  <div class="cell small-12 large-7">
    <div class="table-box">
      <h1>New Booking Type</h1>
      <div>
      	<%= render 'form', bookable_type: @bookable_type %>
      </div>
    </div>
  </div>
</div>