<div class="title-bar hide-for-medium">
  <div class="title-bar-left">
    <span class="title-bar-title">The Body Method</span>
  </div>
  <div class="title-bar-right">
    <button class="menu-icon" type="button" data-open="offCanvasLeft"></button>
  </div>
</div>